#Nav0_0 .home-page > .header0-logo {
}
#Banner2_0 .banner-anim > .banner-anim-elem > .k4nqhlltl5l-editor_css {
  background-image: url(https://images.unsplash.com/photo-1571928022638-dec65b7017c9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1039&q=80),
    url('https://zos.alipayobjects.com/rmsportal/bXNBIyzSLHaycUGDzwLG.jpg');
  background-attachment: scroll, scroll;
  background-blend-mode: normal, normal;
  background-position: 0% 0%, center center;
  background-repeat: repeat, repeat;
  background-size: auto, cover;
  background-clip: padding-box, padding-box;
}
#Content1_0 .ant-row > .ant-col > .k4nquk3pbn9-editor_css {
  top: -20px;
}
#Content1_0 .ant-row > .ant-col > .k4nquxsi78e-editor_css {
  top: -20px;
}
#Banner2_0 .home-page > .banner2-text-wrapper > .k4nqnk10lv-editor_css {
}
#Banner2_0 .home-page > .banner2-text-wrapper > .k4nqgd7cil7-editor_css {
  top: 0x;
}
#Banner2_0 .banner-anim > .banner-anim-elem > .k4nqhk33f5h-editor_css {
  top: 10px;
}
#Content3_0 .ant-col > .content3-text > .k4nqyd6isur-editor_css {
  display: none;
}
#Content3_0 div > .ant-row > .k4nqyorwyw-editor_css {
  display: none;
}
#Content3_0 div > .ant-row > .k4nqyrczy4-editor_css {
  display: none;
}
